name: Update Content

on:
  ## Trigger on merge event to main brnach
  push:
    branches: main
    paths:
      - 'generate_content.sh'
      - 'repository_list.txt'
      - '.github/workflows/*'
  ## Manual trigger
  workflow_dispatch:
  ## Optional: Schedule trigger to update the content regularly
  # schedule:
  #   - cron: '0 0 * * 6' # Run every Saturday at midnight

jobs:
  update-content:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate content
        run: ./generate_content.sh repository_list.txt

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.PAT }}
          commit-message: 'Update table of content'
          committer: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          author: '${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>'
          signoff: false
          branch: update-content
          branch-suffix: timestamp
          delete-branch: true
          base: 'main'
          title: 'Update table of content'
          body: |
            Update table of content
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          labels: 'update, automated-pr'
